---
import { Image } from "astro:assets";
import LayoutMaterial from "../../layouts/LayoutMaterial.astro";
import { getCollection, render } from "astro:content";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const materiais = await getCollection("materiais");
  return materiais.map((material: { id: String }) => ({
    params: { id: material.id },
    props: { material },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { material } = Astro.props;
const { Content } = await render(material);
---

<LayoutMaterial>
  <div class="md:flex items-start">
    <Image
      src={material.data.image}
      alt="TI Facilitada"
      width={300}
      class="p-0 mr-10"
    />

    <div class="my-10">
      <h1 class="text-4xl font-extrabold my-5 md:my-0">{material.data.name}</h1>
      <p class="text-2xl font-bold my-5">{material.data.price}</p>
      <p class="my-5">
        <a class="btn btn-success btn-xl" href={material.data.enderecoCheckout}
          >Comprar agora</a
        >
      </p>
      <div
        class="[&_li]:bg-primary/10 [&_li]:border-2 [&_li]:border-primary/20 [&_li]:px-4 [&_li]:py-2 [&_li]:my-2 [&_li]:rounded-2xl [&_li]:inline-block"
      >
        <Fragment set:html={material.data.body} />
      </div>
    </div>
  </div>
  <Content />
</LayoutMaterial>
