---
import { Image } from "astro:assets";
const { capa, titulo, preco, oldPrice, endereco, enderecoCheckout, promo } = Astro.props;
---

<div class="border-2 rounded-2xl border-primary/20 p-10 text-center bg-primary/5 w-[300px] flex flex-col">
  <a href={endereco} class="grow">
    <Image src={capa} alt="TI Facilitada" class="p-0 m-0" width={300} />
  </a>

  <p class="font-bold my-2 min-h-12">{titulo}</p>

  {
    promo && (
      <span class="bg-red-500 text-white text-xs font-bold px-3 py-1 rounded-full animate-pulse mb-2">🔥 {promo}</span>
    )
  }

  <div class="flex items-center justify-center gap-2">
    {oldPrice && <span class="text-sm text-gray-400 line-through">{oldPrice}</span>}
    <span class="font-bold text-primary">{preco}</span>
  </div>

  <p>
    <a href={endereco} class="btn my-4 w-full"> Ver detalhes </a>
  </p>
</div>
