---
import { Image } from "astro:assets";
const { capa, titulo, preco, oldPrice, endereco, enderecoCheckout } = Astro.props;
---

<div class="border-2 rounded-2xl border-primary/20 p-10 text-center bg-primary/5 w-[300px] flex flex-col">
  <a href={endereco} class="grow">
    <Image src={capa} alt="TI Facilitada" class="p-0 m-0" width={300} />
  </a>

  <p class="font-bold my-2 min-h-12">{titulo}</p>

  <p class="font-bold my-2 text-primary">{preco}</p>
  <p>
    <a href={endereco} class="btn my-4 w-full"> Ver detalhes </a>
  </p>
</div>
